.allTasks{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-between;
    align-items: center;
}
.tasklists-wrapper{
    width: 45%;
    height: 100%;
    border-radius: 15px;
    background-color: black;
    position: relative;
}
.tasklists{
    width: 100%;
    max-height: calc(100% - 50px);
    padding: 15px 15px 40px;
    color: white;
    box-sizing: border-box;
    overflow: visible scroll;
    display: flex;
    flex-direction: column;
}
.tasklist{
    cursor: pointer;
}
.tasklist:hover .tasktitle-heading{
    color: rgb(27, 126, 240);
}
