.listSelectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.884);
  z-index: 5;
}

.listSelection-header{
  border-radius: 10px 10px 0 0;
  background-color: #252525;
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
}

.listSelection-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #161616;
  border-radius: 0 0 10px 10px;
}

.listSelection h4 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}

.listSelection {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  width: 30%;
}
.listSelection-list button{
  background-color: #161616;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: white;
  margin: 2px 0;
}

.listSelection-list button:hover{
  background-color: #252525;
}

.listSelection-list div:last-child button{
  border-radius: 0 0 10px 10px;
}

.listSelection-list div:last-child hr{
  display: none;
}
.listSelection-list hr{
  margin: 0 10px;
  background-color: transparent;
}