.task-editor{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    z-index: 2;
    padding: 3% 5%;
    background-color: rgba(0, 0, 0, 0.884);
}

.myDayWrapper .task-editor{
    background-color: rgba(0, 0, 0, 0.856);
}
