.sidebar{
    width: 18%;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgba(0,0,0);
    color: white;
    transition: width 0.5s linear, background-color 0.5s linear;
}
.collapsed{
    width: 10%;
    background-color: transparent;
}
ul{
    list-style-type: none;
    padding: 0;
}

.myLists{
    margin-bottom: 20px;
}

#myLists-heading{
    display: flex;
    padding-right: 20px;
    align-items: center;
    cursor: pointer;
}
#myLists-heading:hover{
    background-color: rgb(88,87,87);
}

#myLists-heading .category-container{
    flex-direction: row-reverse;
    justify-content: flex-end;
}
#myLists-heading .category-count{
    display: none;
}
#myLists-heading .addlist-icon{
    display: flex;
    align-items: center;
}