.taskcard{
    width: 50%;
    height: 100%;
    background-color: #161616;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    color: white;
    overflow-y: scroll;
}
.taskcard .taskcard-trail{
    padding: 0 10px;
    font-size: 12px;
}
.taskcard .name{
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #161616;
    border: none;
    color: white;
}
.taskcard .name:hover{
    background-color: rgb(88, 87, 87);
}
.taskcard .name:focus{
    background-color: rgb(88, 87, 87);
    outline: none;
}
.taskcard .bubbles{
    padding: 10px;
}
.taskcard .notes {
    padding: 10px;
}
.taskcard .notes textarea{
    resize: none;
    text-wrap: wrap;
    width: 100%;
    min-height: 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: 0 10px;
    border: none;
    box-sizing: border-box;
    background-color: #161616;
    color: white;
}
.taskcard .notes textarea::placeholder{
    font-style: italic;
}
.taskcard .notes textarea:hover{
    color:black;
    background-color: rgb(88, 87, 87);
}
.taskcard .notes textarea:focus{
    color:black;
    background-color: rgb(88, 87, 87);
    outline: none;
}
.taskcard .notes h5 {
    letter-spacing: 2px;
    font-weight: 400;
    padding: 0 0 10px 0;
    margin: 0;
}
.task-description .task-description-text{
    margin: 0;
    padding: 0;
}
.taskcard .subtasks h5 {
    padding: 0 10px;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.bubbles{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.bubbles button{
    background-color: #252525;
    border: none;
    border-radius: 40px;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
}

.tagBubbles{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tagBubbles.nextLine{
    width: 100%;
}

.tagBubbles .tag{
    padding: 2px 10px;
}

.tagBubbles > svg:hover{
    color: #0083ff !important;
}

.tagBubbles > svg{
    width: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}
.listBubble svg path{
    stroke: orange;
}
.listBubble svg{
    width: 20px;
}