#main{
    padding: 20px;
    width: 82%;
    box-sizing: border-box;
}
.next-sevenDays{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.sevenDays-body{
    width: 100%;
    height: 90%;
    display: flex;
    overflow-x: scroll;
    gap: 2rem;
    align-items: flex-start;
}