.day-tasklist{
    min-width: 25%;
    background-color: black;
    border-radius: 10px;
}
.day-tasklist h3{
    margin: 10px 0;
    padding: 10px 20px;
}
.day-tasklist .addtask-container{
    position: relative;
}
.day-tasklist .task{
    min-height: 60px;
    margin: 10px 0;
    background-color: rgb(88, 87, 87);
    margin: 5px 10px;
}
.day-tasklist .isChecked.isChecked--true{
    width: 0;
}
.day-tasklist .task.done{
    text-decoration: line-through;
}