#settings{
    display: flex;
    min-width: 60px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
}
.settings-icon{
    width: 40px !important;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    padding: 0;
    box-sizing: border-box;
}
.username{
    margin: 0 10px;
}

