.new-subtask{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px;
}

.new-subtask.focused{
    outline: 1px solid #007bff;
}

.new-subtask-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid white;
}

.new-subtask-input{
    flex-grow: 1;
    margin-left: 10px;
    background-color: transparent;
    height: 100%;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.new-subtask-input:focus{
    outline: none;
}
