.header{
    display: flex;
    height: 10%;
    width: 100%;  
    box-sizing: border-box;
}
.header-title{
    /* width: 40%; */
    height: 70%;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}
.header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.header-title h3{
    font-size: 22px;
    font-weight: 600;
    color: rgba(255, 252, 252, 0.822);
}