.myDayWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-clip: content-box;
    background-color: black;
    position: absolute;
}
.myDay{
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.myDay .addtask-container{
    padding: 10px 0;
    background-color: black;
}

.myDay .addtask-input-container{
    background-color: black;
}
.myDay .addtask-icon{
    background-color: black;
}
.myDay-day{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myDay-day p{
    margin: 0;
    padding: 0;
}
.myDay-day-day{
    font-weight: 500;
}
.myDay-day-date{
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
}
.myDay .greeting{
    font-size: 30px;
    font-weight: 600;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
}
.myDay .quote{
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.425);
}
.eventsOverview{
    height: 100px;
    margin-top: 40px;
}
.taskSection{
    height: 50%;
    justify-self: end;
}
.taskDisplay{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
}
.taskDisplay .task{
    background-color: rgba(88,87,87,0.6);
}
.taskDisplay .task:hover{
    background-color: rgb(88,87,87);
}