.tasklists-wrapper{
    width: 45%;
    height: 80%;
    border-radius: 15px;
    background-color: black;
    position: relative;
}
.tasklists{
    width: 100%;
    max-height: calc(100% - 50px);
    padding: 15px;
    color: white;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.tasklist{
    cursor: pointer;
}
.tasklist:hover .tasktitle-heading{
    color: rgb(27, 126, 240);
}
.addtask-container{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    z-index: 2;
}